<div class = "{{currentTheme}}" id = "btweb" >
	
	<header class = "header" >

		<div class = "header__top">

			<a href="mailto:info@btweb.example?Subject=BTWEB%20contact" > 
				<i class="material-icons">mail_outline</i> 
				<span> info@btweb.example </span>
			</a>

			<div>
				<i class="material-icons">phone</i>
				<span> +381 11 00 ****</span>
			</div>

		</div>

		<div class = "header__bottom" >
			<button class = "btn header__nav-toggle" (click) = "navIsOpen = !navIsOpen"  > 
					<i class="material-icons">menu</i> 
			</button>

			<a class = "header__home-link" routerLink = "/" >
				btweb
			</a>

			<div class = "header__themes">
				<button class = "header__btn-theme header__btn-theme--dark" (click) = "setTheme('theme--dark')" > 
					<i class="material-icons">format_color_fill</i>
				</button>
				<button class = "header__btn-theme header__btn-theme--light" (click) = "setTheme('theme--light')" >
					<i class="material-icons">format_color_fill</i> 
				</button>
			</div> 
		</div>

	</header>

	<div class = "body" >
		<nav class = "nav-bar" [@navShowHide] = "navIsOpen" >
			<ul class = "nav-bar__ul">
				<li class = "nav-bar__li"> 
					<a class = "nav-bar__link" 
						routerLink = "/usluge"  
						routerLinkActive = "nav-bar__link--active"  > 
						Usluge 
					</a>
				</li>
				<li class = "nav-bar__li"> 
					<a class = "nav-bar__link" 
						routerLink = "/kontakt" 
						routerLinkActive = "nav-bar__link--active"  > 
						Kontakt
					</a> 
				</li>
			</ul>
		</nav>
	 	 <main>
	 	   <router-outlet></router-outlet>
	 	 </main>
  </div>

  <footer class = "footer" >
  	<a href = "https://www.linkedin.com/in/btucovic/" target = "_blank" class = "footer__developer-link"> 
  		Developed By Bogdan Tucović
  	</a>
  </footer>

</div>



