.theme--dark {
  border-right: 1px solid #494e68;
}

.theme--light {
  border-right: 1px solid #378fe7;
}

.header {
  background-color: inherit;
  color: #fff;
}

.header a {
  background-color: inherit;
  color: #fff;
}

.header__top {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 1.5rem;
}

.header__top div, .header__top a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0.5rem 0;
}

.header__top div i, .header__top a i {
  padding-right: 0.5rem;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.75em;
}

.header__nav-toggle {
  background-color: inherit;
  color: #fff;
  padding: 1.5rem;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}

.header__home-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.theme--dark .header {
  background-color: #192231;
  -webkit-box-shadow: 0px 15px 10px -15px #5e6486;
          box-shadow: 0px 15px 10px -15px #5e6486;
}

.theme--dark .header__bottom {
  background-color: #494e68;
}

.theme--dark .header__nav-toggle:hover {
  background-color: #080b0f;
}

.header__btn-theme--dark {
  color: #192231;
}

.theme--light .header {
  background-color: #1976D2;
  -webkit-box-shadow: 0px 15px 10px -15px #64a9ed;
          box-shadow: 0px 15px 10px -15px #64a9ed;
}

.theme--light .header__bottom {
  background-color: #378fe7;
}

.theme--light .header__nav-toggle:hover {
  background-color: #145ca4;
}

.header__btn-theme--light {
  color: #1976D2;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body main {
  width: 100%;
  padding: 3rem;
}

@media screen and (max-width: 62em) {
  .body main {
    padding: 0;
  }
}

/* --------------------------------- FOOTER ---------------------------------------*/
.footer__developer-link {
  color: #fff;
  display: block;
  text-align: center;
  padding: 0.75rem 0;
}

.theme--dark .footer__developer-link {
  background-color: #5e6486;
}

.theme--light .footer__developer-link {
  background-color: #64a9ed;
}

/* --------------------------------- NAVIGACIJA ---------------------------------------*/
.nav-bar {
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  min-height: 100%;
  overflow-y: auto;
  min-width: 200px;
}

.nav-bar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-bar__li:not(:last-child) .nav-bar__link {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.nav-bar__link {
  display: block;
  padding: 1.5rem;
  text-align: center;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.theme--dark .nav-bar {
  border-right-color: #5e6486;
  border-left-color: #5e6486;
  -webkit-box-shadow: 15px 0px 10px -15px #5e6486;
          box-shadow: 15px 0px 10px -15px #5e6486;
}

.theme--dark .nav-bar__li:not(:last-child) .nav-bar__link {
  border-bottom-color: #5e6486;
}

.theme--dark .nav-bar__link {
  color: #192231;
}

.theme--dark .nav-bar__link:hover {
  background-color: #192231;
  color: #fff;
}

.theme--dark .nav-bar__link--active {
  background-color: #192231;
  color: #fff;
}

.theme--light .nav-bar {
  border-right-color: #64a9ed;
  border-left-color: #64a9ed;
  -webkit-box-shadow: 15px 0px 10px -15px #64a9ed;
          box-shadow: 15px 0px 10px -15px #64a9ed;
}

.theme--light .nav-bar__li:not(:last-child) .nav-bar__link {
  border-bottom-color: #64a9ed;
}

.theme--light .nav-bar__link {
  color: #1976D2;
}

.theme--light .nav-bar__link:hover {
  background-color: #1976D2;
  color: #fff;
}

.theme--light .nav-bar__link--active {
  background-color: #1976D2;
  color: #fff;
}
