@import '../../../styles/variables';
@import '../../../styles/mixins';

@each $theme in dark,light {
	.theme--#{$theme}  {
		border-right: 1px solid get-color($theme,light);
	}
}

.header {
	@include bg-inherit_color-bg;

	a { @include bg-inherit_color-bg; }
	
	&__top {
		flex-wrap: wrap;
		@include flex-justify-content(space-around);
		padding: 0 $space-rem;
		div,a {
			align-items: center;
			display: inline-flex;
			margin: 0.5rem 0;
			i {
				padding-right: 0.5rem;
			}
		}
	}
	
	&__bottom {
		@include flex-justify-content(space-between);
		flex-direction: row;
	}

	&__themes {
		display: flex;
		margin-right: $space-em-2;
	}

	&__btn-theme {

	} 

	&__nav-toggle {
		@include bg-inherit_color-bg;
		padding: $space-rem;
		transition-property: background-color;
	}

	&__home-link {
		@include flex-justify-content;
		align-items: center;
		letter-spacing: 3px;
		text-transform: uppercase;
		&--is-active {

		}
	}
}

@each $theme in dark,light {
	.theme--#{$theme} {

		.header {
			background-color: get-color($theme);
			box-shadow: 0px 15px 10px -15px get-color($theme, lighten);

			&__bottom {
				background-color: get-color($theme, light);
			}

			&__nav-toggle {
				&:hover {
					background-color: get-color($theme, dark);
				}
			}
		}
	}

	.header__btn-theme--#{$theme} {
		color: get-color($theme);
	}
}

.body {
	display: flex;
	
	main {
		width: 100%;
		padding: $space-rem-2;
		@media screen and(max-width:62em) {
			padding:0;
		}
	}
} 

/* --------------------------------- FOOTER ---------------------------------------*/
.footer {
	&__developer-link {
		color: $bg-color;
		display: block;
		text-align: center;
		padding: $space-rem-1-2 0;
	}
}

@each $theme in dark,light {
	.theme--#{$theme} .footer { 
		&__developer-link {
			background-color: get-color($theme, lighten);
		}
	}
}

/* --------------------------------- NAVIGACIJA ---------------------------------------*/

.nav-bar {
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	min-height: 100%;
	overflow-y: auto;
	min-width: 200px;

	&__ul {
		display: flex;
		flex-direction: column;
	}

	&__li {
		&:not(:last-child) {
			.nav-bar__link {
				border-bottom-style: solid;
				border-bottom-width: 1px;
			}
		}		

	}

	&__link {
		display: block;
		padding: $space-rem;
		text-align: center;
		transition: 0.3s ease-out;
	}

}


@each $theme in dark,light {

	.theme--#{$theme} .nav-bar { 
		border-right-color: get-color($theme, lighten);
		border-left-color: get-color($theme, lighten);
		box-shadow: 15px 0px 10px -15px get-color($theme, lighten);

		&__li {
			&:not(:last-child) {
				.nav-bar__link {
					border-bottom-color: get-color($theme, lighten);
				}
			}
		}

		&__link {
			color: get-color($theme);
			&:hover {
				background-color: get-color($theme);
				color: $bg-color;
			}
		}

		&__link--active  { 
			background-color: get-color($theme);
			color: $bg-color;
		}

	}

}






