<div class = "contact-form" >
	
	<div *ngIf="submitted" class="contact-form__submit-success-mess">
		Poštovani {{formData.firstName + ' ' + formData.lastName}}, Vaša poruka je uspešno poslata. 
		Odgovorićemo Vam u najkraćem vremenskom roku! 
	</div>

	<form #contactForm="ngForm" 
		(ngSubmit)="onSubmit($event)">
	  
	  <label *ngIf="placeholderOrLabel==='label'" for = "firstName" > {{captionFirstName}} </label>
	  <input type="text"  class="input" id="firstName" name="firstName"  
	  	pattern="[a-zA-z]+" required
	  	[(ngModel)]="formData.firstName" #firstName="ngModel"
			(blur) = "firstNameIsBlur = true"
	  	[attr.placeholder] = "placeholderOrLabel === 'label' ? '' : captionFirstName" >
	  
	   <div class="error-mess">
	   	&nbsp;
		   <div *ngIf="firstNameIsBlur && firstName.invalid && firstName.errors.required" >
	       ime je obavezno
	      </div>
	      <div *ngIf="firstNameIsBlur && firstName.invalid && firstName.errors.pattern" >
	       ime nije validno
	      </div>
     </div>

    <label *ngIf="placeholderOrLabel==='label'" for = "lastName" > {{captionLastName}} </label>
	  <input type="text"  class="input" id="lastName" name="lastName"  
	  	pattern="[a-zA-z]+" required
	  	[(ngModel)]="formData.lastName" #lastName="ngModel"
			(blur) = "lastNameIsBlur = true"
	  	[attr.placeholder] = "placeholderOrLabel === 'label' ? '' : captionLastName" >
	  
	   <div class="error-mess">
	   	&nbsp;
		   <div *ngIf="lastNameIsBlur && lastName.invalid && lastName.errors.required" >
	       Prezime je obavezno
	      </div>
	      <div *ngIf="lastNameIsBlur && lastName.invalid && lastName.errors.pattern" >
	       Prezime nije validno
	      </div>
     </div>

	  <label *ngIf="placeholderOrLabel==='label'" for = "email"> {{captionEmail}} </label>	
	  <input type="email" class="input" id="email" name="email"  
	  	pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
	  	[(ngModel)]="formData.email" #email="ngModel"  
	  	(blur) = "isBlurEmail = true"
	  	[attr.placeholder] = "placeholderOrLabel === 'label' ? '' : captionEmail" >
	  <div class="error-mess">
	   	&nbsp;
		   <div *ngIf="isBlurEmail && email.invalid && email.errors.required" >
	       Email je obavezan
	      </div>
	      <div *ngIf="isBlurEmail && email.invalid && email.errors.pattern" >
	       Email nije validan
	      </div>
     </div>

	  <label *ngIf="placeholderOrLabel==='label'" for="title"> {{captionTitle}} </label>
	  <input type="text"  class="input" id="title" name="title" 
	  	[(ngModel)]="formData.title"
	  	[attr.placeholder] = "placeholderOrLabel === 'label' ? '' : captionTitle" >
	 
	  <label *ngIf="placeholderOrLabel==='label'" for="message"> {{captionMessage}} </label>
	  <textarea name="message" id="message"  class="textarea" required 
	  	[attr.placeholder] = "placeholderOrLabel === 'label' ? '' : captionMessage" 
	  	(blur) = "messageIsBlur = true" #message="ngModel"
	  	[(ngModel)]="formData.message">
	  </textarea>

	   <div class="error-mess">
	   	&nbsp;
		   <div *ngIf="messageIsBlur && message.invalid" >
	       Poruka je obavezna
	      </div>
     </div>

	  <button type="submit" class = "btn contact-form__submit-btn" 
	  	[disabled] = "contactForm.invalid" >
	  	 Poslati
	  </button>
	 
	</form>

</div> 

