@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.contact-form {

	form {
		display: flex;
		flex-direction: column;
		overflow: hidden;

		label,
		button[type="submit"],
		textarea {
			margin-top: $space-em;
		}
		
		&__submit-btn {
			color: $bg-color;
		}

		.error-mess {
			color: $color-error;
			display: flex;
			justify-content: flex-end;
			max-height: $line-height-base * $font-size-base;
			text-transform: lowercase;
		}
	}

	&__submit-success-mess {
		border: 1px dotted $color-success;
		color: $color-success;
		margin-bottom: $space-em;
		padding: $space-rem;
		text-align: center;
	}

}


@each $theme in dark,light {
	:host-context(.theme--#{$theme}) .contact-form {
		
		&__submit-btn {
			background-color: get-color($theme);
			&:hover {
				background-color: get-color($theme,dark);
			}
		}

	}
}

