.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.contact-form form label,
.contact-form form button[type="submit"],
.contact-form form textarea {
  margin-top: 1.5em;
}

.contact-form form__submit-btn {
  color: #fff;
}

.contact-form form .error-mess {
  color: #C3002F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-height: 1.5rem;
  text-transform: lowercase;
}

.contact-form__submit-success-mess {
  border: 1px dotted #0AD58D;
  color: #0AD58D;
  margin-bottom: 1.5em;
  padding: 1.5rem;
  text-align: center;
}

:host-context(.theme--dark) .contact-form__submit-btn {
  background-color: #192231;
}

:host-context(.theme--dark) .contact-form__submit-btn:hover {
  background-color: #080b0f;
}

:host-context(.theme--light) .contact-form__submit-btn {
  background-color: #1976D2;
}

:host-context(.theme--light) .contact-form__submit-btn:hover {
  background-color: #145ca4;
}
