@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.page-not-found {

	&__message {
		color: $color-error;
		font-size: $h2;
		font-style: italic;
		text-align: center;
	}

}




