.open-img {
  position: relative;
}

.open-img__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.open-img__control {
  height: 100%;
  z-index: 2;
}

.open-img__control[disabled] {
  color: #999 !important;
  cursor: not-allowed;
}

.open-img__control i {
  font-size: 50px;
}

.open-img__title {
  bottom: 0;
  color: #fff;
  font-size: 1.44rem;
  padding: 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.open-img img {
  display: block;
  margin: 0 auto;
  min-width: 100%;
}

:host-context(.theme--dark) .open-img {
  background-color: #494e68;
}

:host-context(.theme--dark) .open-img__title {
  background-color: rgba(73, 78, 104, 0.7);
}

:host-context(.theme--dark) .open-img__control {
  color: #192231;
}

:host-context(.theme--light) .open-img {
  background-color: #378fe7;
}

:host-context(.theme--light) .open-img__title {
  background-color: rgba(55, 143, 231, 0.7);
}

:host-context(.theme--light) .open-img__control {
  color: #1976D2;
}
