@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.open-img {
	position: relative;
	
	&__controls {
		@include flex-justify-content(space-between);
		align-items: center;
		flex-direction: row;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&__control {
		height: 100%;
		z-index: 2;
		&[disabled] {
			color: $color-gray !important;
			cursor: not-allowed;
		}
		i {
			font-size: 50px;
		}
	}

	&__title {
		bottom: 0;
		color: $bg-color;
		font-size: $h3;
		padding: 1rem;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 1;
	}

	img {
		display: block;
		margin: 0 auto;
		min-width: 100%;
	}

}


@each $theme in dark,light {

	:host-context(.theme--#{$theme}) .open-img {
		background-color: get-color($theme, light);

		&__title {
			background-color: rgba(get-color($theme, light),0.7);
		}

		&__control {
			color: get-color($theme);
		}

	}

}




