<div class = "open-img" >
	<img [src] = "imgData.imgUrl" [alt] = "imgData.title" [@expandAnimation] = "activeId" />

	<div class = "open-img__title hidden-xs"> {{ imgData.title }}</div>

	<div class = "open-img__controls">
		
		<button type = "button" class = "open-img__control" 
			(click) = "manualChangeImg(activeId - 1)" [disabled] = "activeId === minId" >
			<i class="material-icons">chevron_left</i> 
		</button>
		<button  type = "button" class = "open-img__control" 
			(click) = "manualChangeImg(activeId + 1)" 
			[disabled] = "activeId + 1 > maxId"> 
			<i class="material-icons">chevron_right</i> 
		</button>

	</div>

</div>



