.gallery {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.gallery--no-space {
  left: -15px;
  width: calc(100% + 30px);
}

.gallery--no-space .gallery__item {
  margin: 0;
}

.gallery--no-space .gallery__item-img,
.gallery--no-space .gallery__item-title {
  left: -15px;
  width: calc(100% + 30px);
}

.gallery__item {
  margin: 1.5em 0;
  max-height: 300px;
  position: relative;
  overflow: hidden;
}

.gallery__item-title {
  font-size: 1rem;
  position: relative;
  text-align: center;
  padding: 1.5rem;
}

.gallery__show-more {
  margin: 0.75em 0;
  padding: 1.5rem 0;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  text-transform: uppercase;
  width: 100%;
}

.gallery__open-img-wrapper {
  width: 100%;
  margin-bottom: 1.5em;
}

.gallery__item-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.gallery__item-icons a {
  color: #fff;
}

.gallery__item-icons i {
  font-size: 2.0736rem;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0.75rem;
}

.gallery__item-img {
  position: relative;
}

.gallery__item-img img {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

:host-context(.theme--dark) .gallery__item-icons {
  background-color: rgba(25, 34, 49, 0.5);
}

:host-context(.theme--dark) .gallery__show-more {
  background-color: #192231;
}

:host-context(.theme--dark) .gallery__show-more:hover {
  background-color: #080b0f;
}

:host-context(.theme--light) .gallery__item-icons {
  background-color: rgba(25, 118, 210, 0.5);
}

:host-context(.theme--light) .gallery__show-more {
  background-color: #1976D2;
}

:host-context(.theme--light) .gallery__show-more:hover {
  background-color: #145ca4;
}
