@import '../../../../styles/variables';
@import '../../../../styles/mixins';


@mixin no-space {
	left: -15px;
	width:calc(100% + 30px);
}

$target-height: 300px;

.gallery {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	position: relative;

	&--no-space {
		@include no-space;
		.gallery__item {
			margin: 0;
		}
		.gallery__item-img,
		.gallery__item-title {
			@include no-space;
		}
	}

	&__item {
		margin: $space-em 0;
		max-height: $target-height;
		position: relative;
		overflow: hidden;
	}

	&__item-title {
		font-size: $h4;
		position: relative;
		text-align: center;
		padding: $space-rem;
	}

	&__show-more {
		margin: $space-em-2 0;
		padding: $space-rem 0;
		transition: background-color 0.3s linear;
		text-transform: uppercase;
		width: 100%;
	}

	&__open-img-wrapper { 
		width: 100%;
		margin-bottom: $space-em;
	}


	&__item-icons {
		@include flex-justify-content;
		align-items: center;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		
		a {
			color: $bg-color;
		}

		i {
			font-size: $h1;
			border: 2px solid $bg-color;
			border-radius: 50%;
			padding: $space-rem-1-2;
		}
		
	}

	&__item-img {
		position: relative;
		img {
			min-height: $target-height;
			display: flex;
			align-items: stretch;
		}
	}

}


@each $theme in dark,light {
	:host-context(.theme--#{$theme}) .gallery {

		&__item-icons {
			background-color: rgba(get-color($theme), 0.5);
		}

		&__show-more {
			background-color: get-color($theme);
			&:hover {
				background-color: get-color($theme,dark);
			}
		}

	}
}


