<div class = "gallery container-fluid 
	{{ space ? '' : ' gallery--no-space' }} " >

	<div class = "gallery__open-img-wrapper" id = "slika" >
		<router-outlet></router-outlet>
	</div>

	<ng-template ngFor let-item [ngForOf]="items | GalleryItemsFilter : itemsLength " >

		<div class = "gallery__item {{getItemColumnClass()}}" 
			(mouseleave) = "hideIcons($event)" 
			(mouseenter) = "showIcons($event, item.id)" >

			<div class = "gallery__item-img" >
				<div class = "gallery__item-icons" *ngIf=" item.id === activeId" >
					<a [routerLink] ="'galerija/' + item.id " fragment = "slika" >
						<i class="material-icons">zoom_in</i>
					</a>
				</div>
				<img [src] = "item.imgUrl" [alt] = "item.title" />
			</div>

			<div class = "gallery__item-title" >
				{{ item.title }}
			</div>
		</div>

	</ng-template>

	<button class = "btn gallery__show-more" (click) = "showMore()" *ngIf = "isShowMore" > 
		prikaži još 
	</button>
</div>



