.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-page__form-wrapper {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-bottom: 1.5em;
  padding: 0 3rem;
}

.contact-page__info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0 3rem;
  margin: 1.5em 0;
}

.contact-page__info a {
  display: block;
}

:host-context(.theme--dark) .contact-page__info a {
  color: #192231;
}

:host-context(.theme--dark) .contact-page__info a:hover {
  color: #080b0f;
}

:host-context(.theme--light) .contact-page__info a {
  color: #1976D2;
}

:host-context(.theme--light) .contact-page__info a:hover {
  color: #145ca4;
}
