<div class = "page contact-page" >
	
	<div class = "contact-page__form-wrapper">
		<h1 class = "section-title"> BTWEB Kontakt </h1>
		<contact-form>
		</contact-form>
	</div>

	<div class = "contact-page__info">
		<address>
			<p> BTWEB </p>
    	<p> Adresa: Bulevar Kralja Aleksandra, 11000 Beograd, Srbija </p>
		</address>
		<div>
			<p> Radno vreme: Ponedeljak - Petak, 08:00h - 16:00h </p>
	   	<p> PIB: ****** </p>
	    <p> +381 11 00 **** </p>
	    <p> info@btweb.example </p>
	    <a routerLink = "/" >  www.btweb.example </a>
    </div>
  </div>

</div>



