@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.contact-page {
	display: flex;
	flex-wrap: wrap;

	&__form-wrapper {
		flex: 3;
		margin-bottom: $space-em;
		padding: 0 $space-rem-2;
	}

	&__info {
		flex: 2;
		padding: 0 $space-rem-2;
		margin: $space-em 0;
		a {
			display: block;
		}
	}

}

@each $theme in dark,light {

	:host-context(.theme--#{$theme}) .contact-page {
		&__info {
			a {
				color: get-color($theme);
				&:hover {
					color: get-color($theme,dark);
				}
			}
		}
	}

}



