@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.progressbar {
	position: relative;
	padding: $space-rem-1-2 0;

	&__animated {
		.progressbar__header {
			@include flex-justify-content(space-between);
			font-size: $h3;
		}
	}

	&__static {
		.progressbar__value {
			@include bg-inherit_color-bg;
			padding: 0.2rem 0;
			text-align: center;
		}
	}

	&__title {
		font-size: $h3;
		text-transform: capitalize;
	}

	&__indicator-wrapper {
		background-color: $color-gray-light;
	}

}

@each $theme in dark,light {

	:host-context(.theme--#{$theme}) .progressbar {

		&__indicator {
			background-color: get-color($theme);
		}

		&__animated {
			.progressbar__value {
				color: get-color($theme);
			}
		}
	}

}

