.progressbar {
  position: relative;
  padding: 0.75rem 0;
}

.progressbar__animated .progressbar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.44rem;
}

.progressbar__static .progressbar__value {
  background-color: inherit;
  color: #fff;
  padding: 0.2rem 0;
  text-align: center;
}

.progressbar__title {
  font-size: 1.44rem;
  text-transform: capitalize;
}

.progressbar__indicator-wrapper {
  background-color: #e6e6e6;
}

:host-context(.theme--dark) .progressbar__indicator {
  background-color: #192231;
}

:host-context(.theme--dark) .progressbar__animated .progressbar__value {
  color: #192231;
}

:host-context(.theme--light) .progressbar__indicator {
  background-color: #1976D2;
}

:host-context(.theme--light) .progressbar__animated .progressbar__value {
  color: #1976D2;
}
