<div class="progressbar" [ngSwitch] = "mode" >

	<div *ngSwitchCase="'animated'"  class="progressbar__animated" >
		<div class="progressbar__header" >
			<div class = "progressbar__title" > {{title}} </div>
			<div class = "progressbar__value" > {{value}}% </div>
		</div>
		<div class = "progressbar__indicator-wrapper">
			<div [style.width.%] = "value" 
				class = "progressbar__indicator" >&nbsp; </div>
			</div>
	</div>

	<div *ngSwitchCase="'static'"  class="progressbar__static">
		<div class = "progressbar__title" > {{title}} </div>
		<div class = "progressbar__indicator-wrapper">
			<div [style.width.%] = "value" class = "progressbar__indicator" > 
				<div class = "progressbar__value" > {{value}}% </div>
			</div>
		</div>
	</div>

</div>
