@import 'variables';
@import 'mixins';

.btn {
	color: $bg-color;
	padding: 0.5rem;
	transition-duration: 0.5s;  
	transition-easing: linear;
	&[disabled] {
		background-color: $color-gray !important;
		cursor: not-allowed;
		&:hover {
			background-color: $color-gray !important;
		}
	}
}

