@import 'variables';
@import 'mixins';

.page {

}

.section-title {
	border: {
		top: 1px dashed $color-gray;
		bottom: 1px dashed $color-gray;
	}
	letter-spacing: 5px;
	margin: $space-em-2 0 $space-em-1-2 0;
	text-align: center;
	text-transform: uppercase;
	word-wrap: break-word;
}