@import 'variables';
@import 'mixins';

.input {
	border: {
		left: none;
		right: none;
		top: none;
		bottom: 1px solid $text-color;
	}

	color: $text-color;
	font {
		size: $font-size-base * 1.2;
		weight: inherit;
	}
	padding: 0.5rem 0;

	&.ng-dirty {
		&.ng-invalid {
			border-bottom: 1px solid $color-error;
		}
		&.ng-valid {
			border-bottom: 1px solid $color-success;
		}
	}

}

.textarea {
  border: 1px solid $text-color;
	font: {
		family: inherit;
		size: $font-size-base;
		weight: inherit;
	}
	padding: 0.5rem;
	
	&.ng-dirty {
		&.ng-invalid {
			border: 1px solid $color-error;
		}
		&.ng-valid {
			border: 1px solid $color-success;
		}
	}
}




