@import 'variables';

@function get-color($col, $tone: 'base') {
    @return map-get(map-get($themes, $col), $tone);
}

@mixin cf {
	&::after, &::before {
		content:'';
		display: table;
	}
	
	&::after {
		clear: both;
	}
}

@mixin bg-inherit_color-bg {
	background-color: inherit;
	color: $bg-color;
}

@mixin flex-justify-content ($justify-content-val: center) {
	display: flex;
	justify-content: $justify-content-val;
}