@import 'mixins';
@import 'variables';
@import 'utilities';

@import 'common';
@import 'form';
@import 'buttons';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* bootstrap grid */
@import 'vendor/bootstrap'; 
 
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&::after,
	&::before {
		box-sizing: border-box;
	}
	&:focus {
		outline: none;
	}
}

a {
	text-decoration: none;
}

address {
	font-style: normal;
}

body {
	background-color: $bg-color;
	color: $text-color;
	margin: 0 auto;
	max-width: 1400px;
	height: 100%;
	font: {
		family: $font-family-base;
		weight: lighter;
	}
	overflow-x: hidden;
}

button {
	background-color: inherit;
	border: none;
	&:hover {
		cursor: pointer;
	}
}

img {
	border: 0;
	max-width: 100%;
}

html {
	font-size: $font-size-base;
	line-height: $line-height-base;
	height: 100%;
} 

h1,h2,h3,h4,h5,h6 { font-weight: lighter; }

h1 { 
	font-size: $h1; 
}

h2 { 
	font-size: $h2; 
}

h3 { 
	font-size: $h3; 
}

h4 { 
	font-size: $h4; 
}

h5 { 
	font-size: $h5; 
}

textarea {
  color: inherit;
	box-shadow: none;
	resize: vertical;
}

ul {
	list-style-type: none;
}

