@function get-font-size($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value * 1rem;
}

$line-height-base: 1.5;
$font-size-ratio: 1.2;

$font-size-base: 1rem;
$font-size-extra-large: 7 * $font-size-base;
$font-family-base:  'Roboto', sans-serif;

$h1 : get-font-size($font-size-ratio, 4);
$h2 : get-font-size($font-size-ratio, 3);
$h3 : get-font-size($font-size-ratio, 2);
$h4 : $font-size-base;
$h5 : $font-size-base / $font-size-ratio;

$space-base: $line-height-base * $font-size-base;
$space-rem: $line-height-base * 1rem;
$space-em: $line-height-base * 1em;

$space-1-2: $line-height-base / 2;
$space-rem-1-2: $space-1-2 * 1rem;
$space-em-1-2:  $space-1-2 * 1em;

$space-1-4: $line-height-base / 4;
$space-rem-1-4: $space-1-4 * 1rem;
$space-em-1-4:  $space-1-4 * 1em;

$space-2: $line-height-base * 2;
$space-rem-2: $space-2 * 1rem;
$space-em-2:  $space-1-2 * 1em;

$color-gray: #999;
$color-error: #C3002F;
$color-success: #0AD58D;
$color-gray-light: lighten($color-gray, 30);

$bg-color: #fff;
$text-color: darken($color-gray, 10);

$themes: (
	dark: (
		base: #192231,
		light: #494e68,
		lighten: lighten(#494e68, 10),
		dark: darken(#192231,10),
		second: #98878f
	),
	light: (
		base: #1976D2,
		light: lighten(#1976D2, 10),
		lighten: lighten(#1976D2, 20),
		dark: darken(#1976D2, 10),
		second: #57bc90
	)
)

