<div class = "page">
	
	<div *ngIf="isTabItems" >
		<tabs [classModifier]="'tabs--on-page-services'" > 
			<tab *ngFor = "let item of tabItems" [id] = "item.id" >
				<ng-template TabTitle >
					{{ item.title }}
				</ng-template>
				<ng-template TabContent >
					{{ item.content }}
				</ng-template>
			</tab>
		</tabs>
	</div>

	<div *ngIf="isGalleryItems">
		<h1 class = "section-title"> Portfolio </h1>
		<gallery>
			<galleryitem *ngFor = "let item of galleryItems" 
				[imgUrl] = "item.imgUrl"
				[title] = "item.title"
				[id] = "item.id" >
			</galleryitem>
		</gallery>
	</div>
	
	<h1 class = "section-title"> Tehnologije </h1>
	<progressbar [title] = "'Angular 2'" [value] = "65" > </progressbar>
	<progressbar [title] = "'React'" [value] = "45" > </progressbar>
	<progressbar [title] = "'ecmascript 6'" [value] = "80"> </progressbar>

</div>