<div class = "accordion  {{ classModifier ?   ' ' + classModifier : '' }}" >
	<div class = "accordion__panel" *ngFor="let panel of panels">
		
		<a href class= "accordion__title" (click)="toggle($event, panel.id)">
			<button *ngIf = "isIcons" class="hidden-xs">
				<i *ngIf = "isActive(panel.id); else addCircle" class="material-icons">remove_circle</i>
				<ng-template #addCircle> <i class="material-icons">add_circle_outline</i> </ng-template>
			</button>
			<ng-template *ngTemplateOutlet = "panel.TitleTemplate"> </ng-template>
		</a>
		
		<div class= "accordion__content" [@contentAnimation] = "isActive(panel.id)" >
			<ng-template *ngTemplateOutlet = "panel.ContentTemplate"> </ng-template>
		</div>

	</div>
</div>



