.accordion {
  padding: 0.75rem;
}

.accordion--bordered {
  border-width: 1px;
  border-style: solid;
}

.accordion .accordion__panel:not(:first-child) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.accordion .accordion__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.44rem;
  text-transform: capitalize;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.accordion .accordion__title button {
  margin-right: 1.5em;
}

.accordion .accordion__content {
  padding: 0 1.5rem 0 3rem;
  overflow-y: hidden;
}

:host-context(.theme--dark) .accordion--bordered {
  border-color: #5e6486;
}

:host-context(.theme--dark) .accordion__title {
  color: #192231;
}

:host-context(.theme--dark) .accordion__title:hover {
  color: #080b0f;
}

:host-context(.theme--dark) .accordion__title i {
  color: #192231;
}

:host-context(.theme--light) .accordion--bordered {
  border-color: #64a9ed;
}

:host-context(.theme--light) .accordion__title {
  color: #1976D2;
}

:host-context(.theme--light) .accordion__title:hover {
  color: #145ca4;
}

:host-context(.theme--light) .accordion__title i {
  color: #1976D2;
}
