@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.accordion {
	padding: $space-rem-1-2;

	&--bordered {
		border-width: 1px;
		border-style: solid;
	}

	.accordion__panel {
		&:not(:first-child) {
			margin: {
				top: $space-em-1-2;
				bottom: $space-em-1-2;
			}
		}
	}

	.accordion__title {
		display: flex;
		align-items: center;
		font-size: $h3;
		text-transform: capitalize;
		transition: color 0.3s linear;
		button {
			margin-right: $space-em;
		}
	}

	.accordion__content {
		padding: 0 $space-rem 0 $space-rem-2;
		overflow-y: hidden;
	}


}

@each $theme in dark,light {

	:host-context(.theme--#{$theme}) .accordion {

		&--bordered {
			border-color: get-color($theme, lighten);
		}

		&__title {
			color: get-color($theme);
			&:hover {
				color: get-color($theme, dark);
			}
			i {
				color: get-color($theme);
			}
		}
	}

}


