@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.slider {
	position: relative;
	overflow: hidden;

	&__controls {
		@include flex-justify-content(space-around);
		align-items: center;
		bottom: 0;
		left: 0;
		padding: $space-rem-1-4 0; 
		position: absolute;
		width: 100%;

		button {
			color: $bg-color;
			background-color: transparent;
			transition-property: color;
		}
		i {
			font-size: $h1;
		}
	}

	&__control {

	}

	&__indicators {
		display: inline-flex;
	}

}

@each $theme in dark,light {

	:host-context(.theme--#{$theme}) .slider {
		
		&__controls {
			background-color: rgba(get-color($theme), 0.6);

			button {
				&:hover {
					color: get-color($theme, dark);
				}
			}
		}

		&__indicators {
			&--is-active {
				color: get-color($theme,dark);
			}
		}

	 }

}

