.slider {
  position: relative;
  overflow: hidden;
}

.slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  padding: 0.375rem 0;
  position: absolute;
  width: 100%;
}

.slider__controls button {
  color: #fff;
  background-color: transparent;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.slider__controls i {
  font-size: 2.0736rem;
}

.slider__indicators {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

:host-context(.theme--dark) .slider__controls {
  background-color: rgba(25, 34, 49, 0.6);
}

:host-context(.theme--dark) .slider__controls button:hover {
  color: #080b0f;
}

:host-context(.theme--dark) .slider__indicators--is-active {
  color: #080b0f;
}

:host-context(.theme--light) .slider__controls {
  background-color: rgba(25, 118, 210, 0.6);
}

:host-context(.theme--light) .slider__controls button:hover {
  color: #145ca4;
}

:host-context(.theme--light) .slider__indicators--is-active {
  color: #145ca4;
}
