<div class="slider">
	<div class = "u-relative" [@imgAnimation] = "currentSlideInd" >
		<ng-template *ngTemplateOutlet = "SlideTemplate"> </ng-template>
	</div>
		
	<div class = "slider__controls" #controls [@controlsAnimation] = "controlsDisplay" >
		<button  class = "btn slider__control" type = "button" (click) = "prev()" *ngIf = "hasArrows"> 
			<i class="material-icons">chevron_left</i> 
		</button>
		
		<ul class = "slider__indicators" *ngIf = "hasIndicators" > 
			<li *ngFor = "let el of getIndicatorsArr(); let i = index" > 
					<button class="btn" type="button" (click) = "selectSlide(i)"
					[class.slider__indicators--is-active] = "i === currentSlideInd" > 
							<i class="material-icons">star</i> 
					</button>
			</li>
		</ul>

		<button (click) = "next()" type="button" class = "btn slider__control" *ngIf = "hasArrows" > 
				<i class="material-icons">chevron_right</i> 
		</button>
	</div>
</div>

