@import '../../../../styles/variables';
@import '../../../../styles/mixins';
.counter {

	&__item {
		padding: $space-rem-1-2;
		text-align: center;
	}

	&__item-number {
		font-size: $font-size-extra-large;
	}

	&__item-title {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		font-size: $h3;
		text-transform: uppercase;
		padding-bottom: $space-rem-1-4;
	}

}


@each $theme in dark,light {

	:host-context(.theme--#{$theme}) .counter {
		
		&__item-number {
			color: get-color($theme, light);
		}

		&__item-title {
			border-bottom-color: get-color($theme, light);
		}
	}

}

