.counter__item {
  padding: 0.75rem;
  text-align: center;
}

.counter__item-number {
  font-size: 7rem;
}

.counter__item-title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 1.44rem;
  text-transform: uppercase;
  padding-bottom: 0.375rem;
}

:host-context(.theme--dark) .counter__item-number {
  color: #494e68;
}

:host-context(.theme--dark) .counter__item-title {
  border-bottom-color: #494e68;
}

:host-context(.theme--light) .counter__item-number {
  color: #378fe7;
}

:host-context(.theme--light) .counter__item-title {
  border-bottom-color: #378fe7;
}
