<div class = "counter container-fluid {{ classModifier ? ' ' + classModifier : ''  }}" >

	<ng-template ngFor let-item [ngForOf]="counterItems">
		<div class = "counter__item col-md-4 col-sm-6">
			<div class = "counter__item-number">
				{{ item.number }}
			</div>
			<div class = "counter__item-title">
				{{ item.title }}
			</div>
		</div>
	</ng-template>
	
</div>
