@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.tabs {
	padding: $space-rem-1-2;
	overflow-y: hidden;

	&__header {
		@include flex-justify-content(space-around);
		flex-wrap: wrap;
	}

	&__tab-title {
		border-bottom-style: solid;
		border-bottom-width: 1px;
		margin-bottom: $space-em-1-2;
		font-size: $h3;
		transition: 0.3s ease-in;
		text-align: center;
	}

	&__body {

	}

	&__tab-content {
		padding: $space-rem;
		text-align: justify;
		&--is-active {
		
		}
	}

	&--on-page-services {
		min-height: 150px;
	}


}

@each $theme in dark,light {
	:host-context(.theme--#{$theme}) .tabs {
		
		&__tab-title {
			color:  get-color($theme, light);
			&--is-active, &:hover {
				border-bottom-color: get-color($theme, dark);
				color:  get-color($theme, dark);
			}
		}

	}
}


