.tabs {
  padding: 0.75rem;
  overflow-y: hidden;
}

.tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs__tab-title {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 0.75em;
  font-size: 1.44rem;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  text-align: center;
}

.tabs__tab-content {
  padding: 1.5rem;
  text-align: justify;
}

.tabs--on-page-services {
  min-height: 150px;
}

:host-context(.theme--dark) .tabs__tab-title {
  color: #494e68;
}

:host-context(.theme--dark) .tabs__tab-title--is-active, :host-context(.theme--dark) .tabs__tab-title:hover {
  border-bottom-color: #080b0f;
  color: #080b0f;
}

:host-context(.theme--light) .tabs__tab-title {
  color: #378fe7;
}

:host-context(.theme--light) .tabs__tab-title--is-active, :host-context(.theme--light) .tabs__tab-title:hover {
  border-bottom-color: #145ca4;
  color: #145ca4;
}
