<div class = "tabs {{classModifier ? classModifier : '' }}" >
	
	<div class = "tabs__header" >
		<ng-template ngFor let-tab [ngForOf]="tabs" >
			<a href class= "tabs__tab-title" 
				(click) = "setActiveTab(tab.id,$event)"
				[class.tabs__tab-title--is-active] = "selectedId == tab.id" >
				<ng-template *ngTemplateOutlet = "tab.TitleTemplate"> </ng-template>
			</a>
		</ng-template>
	</div>

	<div class = "tabs__body" *ngFor = "let tab of tabs">
		<div class= "tabs__tab-content" [@tabContent] = "selectedId == tab.id"
			[class.tabs__tab-content--is-active] = "selectedId == tab.id" >
			<ng-template *ngTemplateOutlet = "tab.ContentTemplate"> </ng-template>
		</div>
	</div>

</div>
