<div class = "page" >

	<div class = "home__slider-wrapper" *ngIf="slidesTotal > 0">
		<slider (slideChange) = "handleSlideChanged($event)" [currentSlideInd] = "sliderCurrentIndex"
			[total] = "slidesTotal" > 

			<ng-template slide>
				<img [src] = "sliderItems[sliderCurrentIndex].imgUrl" [alt]= "sliderItems[sliderCurrentIndex].title" />
			</ng-template>

		</slider>
	</div>

	<div class="home__accordion-wrapper" *ngIf = "isAccordionItems" >
		<h1 class = "section-title"> Programiranje </h1>
		<accordion [closeOthers] = "accordionCloseOthers" >
			<panel *ngFor="let item of accordionItems" [id] = "item.id" >
				<ng-template paneltitle >
					{{item.title}}
				</ng-template>
				<ng-template panelcontent >
					{{item.content}}
				</ng-template>
			</panel>
		</accordion>
	</div>

	<h1 class = "section-title"> Rezultati </h1>
	<counter>
		<counterItem *ngFor="let item of counterItems" 
			[title] = "item.title" 
			[number] = "item.number" > 
		</counterItem>
	</counter>

</div>