@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.home {

	&__slider-wrapper img { 
		display: flex;
		align-items: stretch;
		max-height: 400px; 
		min-width: 100%;
	}

}




